
.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane > svg path.leaflet-interactive, svg.leaflet-image-layer.leaflet-interactive path {
	border: none;
	background-color: transparent;

}

/*Admin panel sidebar link color */
.bx--side-nav__submenu-title,
.bx--side-nav__link-text a {
	font-size: 14px;
	color: #808083 !important;
	font-weight: 500 !important;
}

.bx--side-nav__icon svg{
	height: 50px !important;
}


.bx--side-nav__item.bx--side-nav__item--icon a.bx--side-nav__link {
	padding-left: 40px;
	font-size: 14px;
}

/* Admin panel Header */

.bx--header{
	border-bottom: none;
	background-color: white;
}

.bx--header__global {
	background: white;
	
}
.bx--header__menu-toggle {
	background-color: black;
}


.bx--header__action{
	margin: 0 25px 0 0 ;
	padding: 5px;
}
.bx--header__global button svg{
	background: black !important;
	height: 100% !important;
	width: 56px !important;
	border-radius: 50% !important;
}

/* Dashboard date-picker width */


.bx--date-picker{
	display: block;
	width: 100%;
}
.flatpickr-wrapper, .flatpickr-calendar.static.open{
	width: 100%;
}

.bx--date-picker.bx--date-picker--single .bx--date-picker__input {
	width: 100%;
}
.datePicker1 .flatpickr-input {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border: 1px solid #525252;
	border-right: none;
}
.datePicker2 .flatpickr-input {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 1px solid #525252;
}
/*ComboBox */

.customComboBox .bx--list-box__wrapper{
	margin-right: 24px;
	border-radius: 8px;
}


.bx--combo-box{
	border-bottom: none;
}

.bx--text-input:disabled {
	border: none;
}
.bx--list-box--expanded {
	padding-top: 0 !important;
}
/* All input field design */
.bx--text-input input{
	background: white;
}

.custom .bx--date-picker__input , .bx--text-input, .bx--text-area, .bx--select-input{
	border-radius: 8px;
	border: 1px solid #525252;
	background: white !important;
}

.bx--text-area{
	resize: none;
}

.bx--list-box--expanded{
	background: white !important;
	padding-top: 0px !important;
}


/* Number Input inner icon hidden*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


 /* Data table header button */
 .bx--btn--primary{
	background: #57AAF7;
}
.bx--table-toolbar--small{
	margin-bottom: 10px;
}
.bx--data-table-container{
	background: white;
}
/* Table data design */
.bx--data-table thead{
	background: #57AAF7;
}
.bx--data-table th {
	background: transparent;
	color: white;
}
.bx--data-table--short tbody tr:nth-child(odd){
	background: #F0F4F7;
}

.bx--data-table td{
	background: transparent;
	color: #2D2D2D;
}


/* Modal view design */

.bx--modal-content{
	padding: 50px 20px;
}

/* Public registration design */

.registrationPanel .bx--text-input, .registrationPanel .bx--text-area, .registrationPanel .bx--select-input{
	border-radius: 5px;
	border: 2px solid #808083 !important;
	background: white !important;
}

.registrationPanel .bx--list-box--disabled .bx--text-input:disabled{
	border: none !important;
}
.bx--text-input{
	padding: 15px 20px;
}